#Supabase Configuration
SUPABASE_URL=
SUPABASE_KEY=
#Database Configuration
DATABASE_URL=

#Google Gemini API
GEMINI_API_KEY=

#Firebase Configuration
FIREBASE_WEB_API_KEY=
#Email and Phone Configuration
TEST_EMAIL_ADDRESS=
TEST_PHONE_NUMBER=